<nav class="menu" id="theMenu">
	<div class="menu-wrap">
		<h1 class="logo"><a href="index.html#home">Portfolio</a></h1>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="responsive.html">Responsiveness</a></li>
			<li><a href="components.html">CSS and HTML Components</a></li>
			<li><a href="setup-guide.html">Setup Guide</a></li>
			<li><a href="customize-portfolio.html">Customize</a></li>
		</ul>
	</div>	
	<!-- Menu button -->
	<div id="menuToggle" class="icon-menu"></div>
</nav>