<section>
	<header>
		<h2>My Work</h2>
	</header>
	<article>
		<h2>Thumbnails</h2>	
		<div class="thumbnail-group clearfix">
			<div class="thumbnail-group--item">
				<section>
					<a href="#" class="image image-full"><img src="http://placehold.it/250x185" alt=""></a>
					<header>
						<h3><a href="">Ipsum feugiat et dolor - I am a link</a></h3>
					</header>
					<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
					<a href="#" class="button alt">Find out more</a>
				</section>
			</div>
			<div class="thumbnail-group--item">
				<section>
					<a href="#" class="image image-full"><img src="http://placehold.it/250x185" alt=""></a>
					<header>
						<h3>Sed etiam lorem nulla</h3>
					</header>
					<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
					<a href="#" class="button alt">Find out more</a>
					
				</section>
			</div>
			<div class="thumbnail-group--item">
				<section>
					<a href="#" class="image image-full"><img src="http://placehold.it/250x185" alt=""></a>
					<header>
						<h3>Consequat et tempus</h3>
					</header>
					<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
					<a href="#" class="button alt">Find out more</a>
				</section>
			</div>

			<div class="thumbnail-group--item">
				<section>
					<a href="#" class="image image-full"><img src="http://placehold.it/250x185" alt=""></a>
					<header>
						<h3>Blandit sed adipiscing</h3>
					</header>
					<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
					<a href="#" class="button alt">Find out more</a>
				</section>
			</div>
			<div class="thumbnail-group--item">
				<section>
					<a href="#" class="image image-full"><img src="http://placehold.it/250x185" alt=""></a>
					<header>
						<h3>Etiam nisl consequat</h3>
					</header>
					<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
					<a href="#" class="button alt">Find out more</a>
				</section>
			</div>
			<div class="thumbnail-group--item">
				<section>
					<a href="#" class="image image-full"><img src="http://placehold.it/250x185" alt=""></a>
					<header>
						<h3>Dolore nisl feugiat</h3>
					</header>
					<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
					<a href="#" class="button alt">Find out more</a>
				</section>
			</div>
		</div>
	</article>
</section>