<section>
	<header>
		<h1>CSS and HTML Components</h1>
		<p>Here you can find the predefined css components of this portfolio. Ready to use. Ready for you to modify.</p>
	</header>
	<article>
		<h2>Headings</h2>
		<h1>Heading h1</h1>
		<h2>Heading h2</h2>
		<h3>Heading h3</h3>
		<h4>Heading h4</h4>
	</article>
	<article>
		<p>I am a paragraph.</p>
	</article>
	<article>
		<h2>Buttons and links</h2>	
		<p><button class="button primary">Button primary</button><button class="button secondary">Button secondary</button></p>
		<p><a href="#" class="button secondary">Link-Button secondary</a></p>
		<p><a href="#">link</a></p>
	</article>
	<article>
		<h2>Lists</h2>	
		<p>
			<ul class="ulist-group">
				<li><strong>Unordered list</strong></li>
				<li>List item</li>
				<li>List item <a href="">with a link</a></li>
			</ul>
		</p>	
		<p>
			<ol class="olist-group">
				<li><strong>Ordered list</strong></li>
				<li>List item</li>
				<li>List item <a href="">with a link</a></li>
			</ol>
		</p>	
	</article>

	<article>
		<header>
			<h2>List with Thumbnails</h2>
		</header>
		<div class="thumbnail-group clearfix">
			<div class="thumbnail-group--item">
				<section>
					<a href="#" class="image image-full"><img src="http://placehold.it/250x185" alt=""></a>
					<header>
						<h3><a href="">Ipsum - I am a link</a></h3>
					</header>
					<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
				</section>
			</div>
			<div class="thumbnail-group--item">
				<section>
					<a href="#" class="image image-full"><img src="http://placehold.it/250x185" alt=""></a>
					<header>
						<h3>Sed etiam lorem nulla</h3>
					</header>
					<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>			
				</section>
			</div>
			<div class="thumbnail-group--item">
				<section>
					<a href="#" class="image image-full"><img src="http://placehold.it/250x185" alt=""></a>
					<header>
						<h3>Consequat et tempus</h3>
					</header>
					<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
				</section>
			</div>
			<div class="thumbnail-group--item">
				<section>
					<a href="#" class="image image-full"><img src="http://placehold.it/250x185" alt=""></a>
					<header>
						<h3>Blandit sed adipiscing</h3>
					</header>
					<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
				</section>
			</div>
			<div class="thumbnail-group--item">
				<section>
					<a href="#" class="image image-full"><img src="http://placehold.it/250x185" alt=""></a>
					<header>
						<h3>Etiam nisl consequat</h3>
					</header>
					<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
				</section>
			</div>
			<div class="thumbnail-group--item">
				<section>
					<a href="#" class="image image-full"><img src="http://placehold.it/250x185" alt=""></a>
					<header>
						<h3>Dolore nisl feugiat</h3>
					</header>
					<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
				</section>
			</div>
		</div>
	</article>
</section>
