<section>
	<header>
		<h1>Welcome to HowTo Portfolio</h1>
	</header>
	<article>
		<p>
			This project has been done to help you setting up your own portfolio. All basic HTML and CSS have been implemented, and are ready to be extended and customized by changing colors, styles, font types or images.
		</p>
		<p>
			This basic portfolio has been created with respect on responsive webdesign and thus will look good on desktop and mobile devices.
		</p>
		<p>
			In the menu you can find more information about the HowTo Portfolio and how you can set up your own one.
		</p>
		<p>
			Enjoy creating your own portfolio and feel free to adjust this basic setup to make it more personal.
		</p>
	</article>
</section>
