<section>
	<header>
		<h1>Setup Guide</h1>
		<p>
			To make use of this portfolio project, you need to do the following steps to set it up.
		</p>
	</header>
	<article>
		<ol class="olist-group">
			<li>
				<p>
					Install <a href="http://nodejs.org/" target="_blank">Node-js</a>
					<br>
					Node.js is a package manager. We it need to install Grunt (see step 2).
				</p>
			</li>
			<li>
				<p>
					Install <a href="http://gruntjs.com/getting-started" target="_blank">Grunt</a>
					<br>
					We need Grunt to build complete HTML files from HTML partials. More information can be found in step 5.
				</p>
			</li>
			<li>
				<p>
					Install a Less compiler, e.g. for Windows: <a href="http://winless.org/" target="_blank">WinLess</a> or for Mac <a href="http://wearekiss.com/simpless" target="_blank">SimpLESS</a>
					<br>
					We use the CSS pre-processor Less, to extend the CSS language by adding features that allow variables, mixins, functions and many other techniques. Less also helps you maintain your CSS better. If you are new to Less, check out this website: <a href="http://lesscss.org/" target="_blank">lesscss.org</a>
				</p>
			</li>
			<li>
				<p>
					Download the HowTo Responsive Portfolio Project <a href="howto_portfolio.zip" target="_blank">here</a> and unzip it. This is the base for your own responsive portfolio.
				</p>
				
			</li>
			<li>
				<p>
					Install Grunt package dependencies
					<br>
					Go to the root of the just downloaded HowTo Responsive Portfolio Project (inside the folder "howto_portfolio"). Open a console/terminal from here and type in: <br>
					<em>npm install</em><br>
					You can find more info about this step here: <a href="http://gruntjs.com/getting-started#working-with-an-existing-grunt-project" target="_blank">Working with an existing Grunt project</a>.
				</p>
			</li>
			<li>
				<p>
					Install a good editor for developing your own portfolio (e.g. <a href="http://www.sublimetext.com/" target="_blank">Sublime Text</a>)
				</p>
			</li>
		</ol>
	</article>
</section>
